.character-card {
    width: 18rem;
    border: solid;
    border-radius: 10%;
    margin: 2%;
    padding: 1%;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }
  
  .card-text {
    display: flex;
    justify-content: center;
  }